project:
  type: website
  output-dir: docs

website:
  description: "Personal blog with notes on AI, ML, Mathematics, Philosophy, and Startups."
  site-url: https://laroche.ai
  title: "LaRoche.ai"
  search: false
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
    right:
      - icon: github
        href: https://github.com/HenryR888
      - icon: linkedin
        href: https://www.linkedin.com/in/henry-rochester-11332b343/
  
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
